<ion-header>
  <ion-toolbar>
    <ion-title>Images</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar debounce="250"
                 enterkeyhint="search"
                 inputmode="text"
                 type="search"
                 placeholder="Buscar..."
                 showCancelButton="always"
                 (ionChange)="filterImages($event)">

  </ion-searchbar>

  <ion-text color="warning" class="notFound" *ngIf="loadedImages.length === 0">
    <h1>Sin resultados</h1>
  </ion-text>

  <ion-list>
    <ion-item *ngFor="let img of loadedImages">
      <ion-thumbnail slot="start">
        <ion-img [src]="img.photo"
                 (ionError)="img.photo = '../../assets/images/no-image.jpg'">
        </ion-img>
      </ion-thumbnail>
      <ion-label>{{img.text}}</ion-label>
    </ion-item>
  </ion-list>


  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
